services:
  hmpps-prisoner-search:
    image: ghcr.io/ministryofjustice/hmpps-prisoner-search:latest
    networks:
      - hmpps
    container_name: hmpps-prisoner-search
    depends_on:
      - localstack
      - hmpps-auth
    ports:
      - "8091:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev
      - API_BASE_URL_OAUTH=http://hmpps-auth:8080/auth
      - SQS_ENDPOINT_URL=http://localstack-psi:4566
      - OPENSEARCH_URIS=http://localstack-psi:4566
      - HMPPS_SQS_LOCALSTACKURL=http://localstack-psi:4566
      - OPENSEARCH_PATHPREFIX=/opensearch/eu-west-2/os01
      - DB_SERVER=hpsi-db
      - DB_USER=pos
      - DB_NAME=pos
      - DB_PASS=pos

  hmpps-prisoner-search-indexer:
    image: ghcr.io/ministryofjustice/hmpps-prisoner-search-indexer:latest
    networks:
      - hmpps
    container_name: hmpps-prisoner-search-indexer
    depends_on:
      - localstack
      - prison-api
      - hmpps-auth
    ports:
      - "8092:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev
      - API_BASE_URL_OAUTH=http://hmpps-auth:8080/auth
      - API_BASE_URL_PRISON_API=http://prison-api:8080
      - API_BASE_URL_RESTRICTED_PATIENTS=http://restricted-patients-api:8080
      - API_BASE_URL_INCENTIVES=http://hmpps-incentives-api:8080
      - API_BASE_URL_ALERTS=http://alerts-api:8080
      - SQS_ENDPOINT_URL=http://localstack-psi:4566
      - PRISON_API_CLIENT_ID=prisoner-offender-search-client
      - PRISON_API_CLIENT_SECRET=clientsecret
      - RESTRICTED_PATIENTS_CLIENT_ID=prisoner-offender-search-client
      - RESTRICTED_PATIENTS_CLIENT_SECRET=clientsecret
      - INCENTIVES_CLIENT_ID=prisoner-offender-search-client
      - INCENTIVES_CLIENT_SECRET=clientsecret
      - ALERTS_CLIENT_ID=prisoner-offender-search-client
      - ALERTS_CLIENT_SECRET=clientsecret
      - OPENSEARCH_URIS=http://localstack-psi:4566
      - HMPPS_SQS_LOCALSTACKURL=http://localstack-psi:4566
      - OPENSEARCH_PATHPREFIX=/opensearch/eu-west-2/os01
      - DB_SERVER=hpsi-db
      - DB_USER=pos
      - DB_NAME=pos
      - DB_PASS=pos
      - SPRING_DATASOURCE_URL=jdbc:postgresql://hpsi-db/pos

  prison-api:
    image: ghcr.io/ministryofjustice/prison-api:latest
    networks:
      - hmpps
    container_name: prison-api
    depends_on:
      - hmpps-auth
    ports:
      - "8093:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=nomis-hsqldb
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://hmpps-auth:8080/auth/.well-known/jwks.json
      - SMOKE_TEST_AWARE=true

  restricted-patients-api:
    image: ghcr.io/ministryofjustice/hmpps-restricted-patients-api:latest
    networks:
      - hmpps
    container_name: restricted-patients-api
    depends_on:
      - hmpps-auth
      - prison-api
    ports:
      - "8095:8080"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/health" ]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev,localstack
      - PRISON_API_ENDPOINT_URL=http://prison-api:8080
      - HMPPS_SQS_LOCALSTACKURL=http://localstack-psi:4566
      - PRISONER_SEARCH_API_ENDPOINT_URL=http://hmpps-prisoner-search:8080
      - OAUTH_ENDPOINT_URL=http://hmpps-auth:8080/auth

  hmpps-auth:
    image: quay.io/hmpps/hmpps-auth:latest
    networks:
      - hmpps
    container_name: hmpps-auth
    ports:
      - "8090:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/auth/health"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev
      - APPLICATION_AUTHENTICATION_UI_ALLOWLIST=0.0.0.0/0

  hmpps-incentives-api:
    image: ghcr.io/ministryofjustice/hmpps-incentives-api:latest
    networks:
      - hmpps
    container_name: hmpps-incentives-api
    depends_on:
      - hmpps-auth
      - incentives-db
    ports:
      - "8096:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health/ping"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=localstack
      - HMPPS_SQS_LOCALSTACKURL=http://localstack-psi:4566
      - API_BASE_URL_OAUTH=http://hmpps-auth:8080/auth
      - API_BASE_URL_PRISON=http://prison-api:8080
      - API_BASE_URL_OFFENDER_SEARCH=http://hmpps-prisoner-search:8080
      - SPRING_FLYWAY_URL=jdbc:postgresql://incentives-db:5432/incentives?sslmode=prefer
      - SPRING_R2DBC_URL=r2dbc:postgresql://incentives-db:5432/incentives?sslmode=disable
      - SPRING_FLYWAY_USER=incentives
      - SPRING_FLYWAY_PASSWORD=incentives
      - SPRING_R2DBC_USERNAME=incentives
      - SPRING_R2DBC_PASSWORD=incentives

  localstack:
    image: localstack/localstack:4
    networks:
      - hmpps
    container_name: localstack-psi
    ports:
      - "4566:4566"
    environment:
      - SERVICES=opensearch,sns,sqs
      - OPENSEARCH_ENDPOINT_STRATEGY=path
    volumes:
      - "$PWD/localstack/setup-opensearch.sh:/etc/localstack/init/ready.d/init-aws.sh"
      - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"

  hpsi-db:
    image: postgres:18
    networks:
      - hmpps
    container_name: hpsi-db
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=pos
      - POSTGRES_USER=pos
      - POSTGRES_DB=pos

  incentives-db:
    image: postgres:18
    networks:
      - hmpps
    container_name: incentives-db
    restart: unless-stopped
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_PASSWORD=incentives
      - POSTGRES_USER=incentives
      - POSTGRES_DB=incentives

networks:
  hmpps:
