version: "3"
services:
  localstack:
    image: localstack/localstack:2.0
    networks:
      - hmpps
    container_name: localstack-psi
    ports:
      - "4566:4566"
    environment:
      - SERVICES=opensearch,sns,sqs
    volumes:
      - "$PWD/localstack/setup-opensearch.sh:/etc/localstack/init/ready.d/init-aws.sh"
      - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"

networks:
  hmpps:
