---
generic-service:
  replicaCount: 2

  ingress:
    host: prisoner-search-indexer-dev.prison.service.justice.gov.uk

  env:
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.dev.json
    API_BASE_URL_NOMIS_API: "https://nomis-prisoner-api-dev.prison.service.justice.gov.uk"
    API_BASE_URL_OAUTH: "https://sign-in-dev.hmpps.service.justice.gov.uk/auth"
    API_BASE_URL_PRISON_API: "https://prison-api-dev.prison.service.justice.gov.uk"
    API_BASE_URL_RESTRICTED_PATIENTS: "https://restricted-patients-api-dev.hmpps.service.justice.gov.uk"
    API_BASE_URL_INCENTIVES: "https://incentives-api-dev.hmpps.service.justice.gov.uk"
    API_BASE_URL_ALERTS: "https://alerts-api-dev.hmpps.service.justice.gov.uk"
    API_BASE_URL_COMPLEXITY_OF_NEED: "https://complexity-of-need-staging.hmpps.service.justice.gov.uk"
    API_BASE_URL_PRISON_REGISTER: https://prison-register-dev.hmpps.service.justice.gov.uk
    INDEX_BUILD_COMPLETE_THRESHOLD: 500000
    DIFF_HOST: "https://prisoner-search-dev.prison.service.justice.gov.uk"
    DIFF_PREFIX: ""
    SPRINGDOC_API-DOCS_ENABLED: "true"
    SPRINGDOC_SWAGGER-UI_ENABLED: "true"

  scheduledDowntime:
    enabled: true
    startup: '43 6 * * 1-5' # Start at 6.43am UTC Monday-Friday
    shutdown: '47 21 * * 1-5' # Stop at 9.47pm UTC Monday-Friday

  batchjobs:
    - name: check-index-complete
      type: CHECK_INDEX_COMPLETE
      schedule: "*/15 7-20 * * 1-5"
    - name: compare-index-size
      type: COMPARE_INDEX_SIZE
      schedule: "*/10 7-20 * * 1-5"
    - name: full-index-refresh
      type: FULL_INDEX_REFRESH
      schedule: "05 08 * * MON"
    - name: active-index-refresh
      type: ACTIVE_INDEX_REFRESH
      schedule: "05 08 * * WED"

generic-prometheus-alerts:
  businessHoursOnly: true
  alertSeverity: syscon-nonprod
  rdsAlertsDatabases:
    cloud-platform-99ebbe3b76dc9264: "prisoner search indexer"
  sqsNumberAlertQueueNames:
    - "syscon-devs-dev-hmpps_prisoner_search_domain_dlq"
    - "syscon-devs-dev-hmpps_prisoner_search_domain_queue"
    - "syscon-devs-dev-hmpps_prisoner_search_offender_dlq"
    - "syscon-devs-dev-hmpps_prisoner_search_offender_queue"
    - "syscon-devs-dev-hmpps_prisoner_search_publish_queue_dl"
    - "syscon-devs-dev-hmpps_prisoner_search_publish_queue"
  openSearchAlertsDomainNames:
    cloud-platform-317cfc89: "prisoner search indexer"
  openSearchAlertsFreeStorageSpaceThresholdGB: 5

cron:
  retry_dlqs_schedule: "*/10 7-20 * * 1-5"
  snapshot_schedule: "49 1 * * *"

indexQueueNames:
  - "syscon-devs-dev-hmpps_prisoner_search_index_queue_dl"
  - "syscon-devs-dev-hmpps_prisoner_search_index_queue"
