---
generic-service:
  replicaCount: 2

  ingress:
    host: prisoner-search-indexer-preprod.prison.service.justice.gov.uk

  env:
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.dev.json
    API_BASE_URL_OAUTH: "https://sign-in-preprod.hmpps.service.justice.gov.uk/auth"
    API_BASE_URL_PRISON_API: "https://prison-api-preprod.prison.service.justice.gov.uk"
    API_BASE_URL_RESTRICTED_PATIENTS: "https://restricted-patients-api-preprod.hmpps.service.justice.gov.uk"
    API_BASE_URL_INCENTIVES: "https://incentives-api-preprod.hmpps.service.justice.gov.uk"
    API_BASE_URL_ALERTS: "https://alerts-api-preprod.hmpps.service.justice.gov.uk"
    API_BASE_URL_COMPLEXITY_OF_NEED: "https://complexity-of-need-preprod.hmpps.service.justice.gov.uk"
    API_BASE_URL_PRISON_REGISTER: https://prison-register-preprod.hmpps.service.justice.gov.uk
    DIFF_HOST: "https://prisoner-search-preprod.prison.service.justice.gov.uk"
    DIFF_PREFIX: ""

  batchjobs:
    - name: check-index-complete
      type: CHECK_INDEX_COMPLETE
      schedule: "*/15 7-20 * * 1-5"
    - name: compare-index-size
      type: COMPARE_INDEX_SIZE
      schedule: "*/10 7-20 * * 1-5"
    - name: full-index-refresh
      type: FULL_INDEX_REFRESH
      schedule: "05 08 * * MON"

generic-prometheus-alerts:
  businessHoursOnly: true
  alertSeverity: syscon-nonprod
  rdsAlertsDatabases:
    cloud-platform-12e2a73b0333ffab: "prisoner search indexer"
  sqsNumberAlertQueueNames:
    - "syscon-devs-preprod-hmpps_prisoner_search_domain_dlq"
    - "syscon-devs-preprod-hmpps_prisoner_search_domain_queue"
    - "syscon-devs-preprod-hmpps_prisoner_search_offender_dlq"
    - "syscon-devs-preprod-hmpps_prisoner_search_offender_queue"
    - "syscon-devs-preprod-hmpps_prisoner_search_publish_queue_dl"
    - "syscon-devs-preprod-hmpps_prisoner_search_publish_queue"
  openSearchAlertsDomainNames:
    cloud-platform-d78e194d: "prisoner search indexer"
  openSearchAlertsFreeStorageSpaceThresholdGB: 5

cron:
  snapshot_namespace: hmpps-prisoner-search-prod
  suspend_restore: false
  snapshot_schedule: "57 1 * * *"

indexQueueNames:
  - "syscon-devs-preprod-hmpps_prisoner_search_index_queue_dl"
  - "syscon-devs-preprod-hmpps_prisoner_search_index_queue"
