---
generic-service:
  replicaCount: 2

  ingress:
    host: prisoner-search-dev.prison.service.justice.gov.uk
  allowlist: null

  env:
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.dev.json
    API_BASE_URL_HMPPS_AUTH: "https://sign-in-dev.hmpps.service.justice.gov.uk/auth"
    API_BASE_URL_ALERTS_API: "https://alerts-api-dev.hmpps.service.justice.gov.uk"
    SPRINGDOC_API-DOCS_ENABLED: "true"
    SPRINGDOC_SWAGGER-UI_ENABLED: "true"

  scheduledDowntime:
    enabled: true
    startup: '23 6 * * 1-5' # Start at 6.20am UTC Monday-Friday
    shutdown: '47 21 * * 1-5' # Stop at 9.50pm UTC Monday-Friday

generic-prometheus-alerts:
  businessHoursOnly: true
  alertSeverity: syscon-nonprod
