info.app:
  name: Hmpps Prisoner Search Indexer
  version: 1.0

spring:
  application:
    name: hmpps-prisoner-search-indexer
  http:
    converters:
      preferred-json-mapper: jackson2
    codecs:
      max-in-memory-size: 10MB

  jackson:
    date-format: "yyyy-MM-dd HH:mm:ss"
  jackson2:
    date-format: "yyyy-MM-dd HH:mm:ss"
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false
    default-property-inclusion: non_null

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${api.base.url.oauth}/.well-known/jwks.json

      client:
        registration:
          prison-api:
            provider: hmpps-auth
            client-id: ${prison-api.client.id}
            client-secret: ${prison-api.client.secret}
            authorization-grant-type: client_credentials
            scope: read
          restricted-patients-api:
            provider: hmpps-auth
            client-id: ${restricted-patients.client.id}
            client-secret: ${restricted-patients.client.secret}
            authorization-grant-type: client_credentials
            scope: read
          incentives-api:
            provider: hmpps-auth
            client-id: ${incentives.client.id}
            client-secret: ${incentives.client.secret}
            authorization-grant-type: client_credentials
            scope: read
          alerts-api:
            provider: hmpps-auth
            client-id: ${alerts.client.id}
            client-secret: ${alerts.client.secret}
            authorization-grant-type: client_credentials
            scope: read
          complexity-of-need-api:
            provider: hmpps-auth
            client-id: ${complexity-of-need.client.id}
            client-secret: ${complexity-of-need.client.secret}
            authorization-grant-type: client_credentials
            scope: read
        provider:
          hmpps-auth:
            token-uri: ${api.base.url.oauth}/oauth/token

  datasource:
    url: 'jdbc:postgresql://${DB_SERVER}/${DB_NAME}?sslmode=verify-full'
    username: ${DB_USER}
    password: ${DB_PASS}
    hikari:
      pool-name: HPOSI-DB-CP
      maximum-pool-size: 10
      connection-timeout: 30000
      validation-timeout: 5000

  flyway:
    url: ${spring.datasource.url}
    user: ${spring.datasource.username}
    password: ${spring.datasource.password}
  web:
    error:
      include-message: always

server:
  port: 8080
  servlet:
    context-path: /
  forward-headers-strategy: native
  tomcat:
    remoteip:
      remote-ip-header: x-forwarded-for
      protocol-header: x-forwarded-proto
      internal-proxies: 10\.\d{1,3}\.\d{1,3}\.\d{1,3}|192\.168\.\d{1,3}\.\d{1,3}|169\.254\.\d{1,3}\.\d{1,3}|127\.\d{1,3}\.\d{1,3}\.\d{1,3}|172\.1[6-9]{1}\.\d{1,3}\.\d{1,3}|172\.2[0-9]{1}\.\d{1,3}\.\d{1,3}|172\.3[0-1]{1}\.\d{1,3}\.\d{1,3}|0:0:0:0:0:0:0:1|::1|100\.6[4-9]\.\d{1,3}\.\d{1,3}|100\.[7-9][0-9]{1}\.\d{1,3}\.\d{1,3}|100\.1[0-1][0-9]{1}\.\d{1,3}\.\d{1,3}|100\.12[0-7]\.\d{1,3}\.\d{1,3}
  shutdown: graceful

management:
  endpoints:
    web:
      base-path: /
      exposure:
        include: 'info, health'
  endpoint:
    health:
      cache:
        time-to-live: 2000ms
      show-components: always
      show-details: always
      probes:
        enabled: true
    info:
      cache:
        time-to-live: 2000ms

aws:
  region: eu-west-2
  provider: aws

hmpps.sqs:
  queueAdminRole: ROLE_PRISONER_INDEX
  defaultErrorVisibilityTimeout: 1, 10, 60, 600
  queues:
    publish:
      errorVisibilityTimeout: 0

index-build:
  page-size: 1000

diff:
  events: true
  host: http://localhost:8080
  prefix: dummy.
  testNewOffenderEndpoint: false

republish:
  delayInSeconds: 5

publish:
  delayInSeconds: 2

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false
